---
// ProjectCard.astro
import { Image } from 'astro:assets';
import { ImageMetadata } from 'astro:assets';
import Button from './Button.tsx';
import NoLiveButton from './NoLiveLinkButton';

interface Props {
    image: ImageMetadata;
    imgAlt: string;
    tags: string;
    title: string;
    url: string;
    codeURL: string;
    width?: number | string;
    height?: number | string;
    loading?: any; //'lazy' | 'eager';
}

const { image, imgAlt, tags, title, url, codeURL, loading } = Astro.props;

const isLiveMissing = url === "#";
const isCodeMissing = codeURL === "#";
---

<section>
  <Image src={image} alt={imgAlt} class="w-full border-[#17A2B8] hover:border-[#28808D] border-4" loading={loading} />
  <h4 class="text-xl font-bold pt-1">{title}</h4>
  <p class="italic pb-1 text-sm">{tags}</p>
  <div class="flex justify-between gap-2">
    {isLiveMissing && isCodeMissing ? (
      <NoLiveButton name="No Live Links" bgColor="bg-red-800 text-white italic font-bold shadow-md hover:shadow-2xl" width="w-full" iconStyle='ri-error-warning-line' />
    ) : isLiveMissing ? (
      <Button link={codeURL} name="GitHub" bgColor="bg-black text-white italic font-bold shadow-md hover:shadow-2xl" width="w-full" target="_blank" iconStyle='ri-github-line' />
    ) : isCodeMissing ? (
      <Button link={url} name="Live Website" bgColor="bg-green-200 italic font-bold shadow-md hover:shadow-2xl" width="w-full" target="_blank" iconStyle='ri-external-link-line' />
    ) : (
      <>
        <Button link={url} name="Live Website" bgColor="bg-green-200 italic font-bold shadow-md hover:shadow-2xl" width="w-full" target="_blank" iconStyle='ri-external-link-line' />
        <Button link={codeURL} name="GitHub" bgColor="bg-black text-white italic font-bold shadow-md hover:shadow-2xl" width="w-full" target="_blank" iconStyle='ri-github-line' />
      </>
    )}
  </div>
</section>
