---
import ProjectCardNew from "./ProjectCardNew.astro";

import productUploader from '/src/assets/images/spotlights/product-uploader-thumbnail.jpg';
import aniStream from '/src/assets/images/spotlights/AniStream-thumbnail.jpg';
import socialDashboard2 from '/src/assets/images/spotlights/Social-Dashboard-thumbnail.jpg';
import carDealership from '/src/assets/images/spotlights/car-dealership-thumbnail.jpg';
---

<section class="mt-20">
    <h2 class="text-center text-2xl md:text-3xl lg:text-4xl font-bold uppercase">Portfolio Spotlights</h2>
    <p class="text-center text-1xl font-semibold uppercase italic text-[#28808D]">Most Recent</p>
</section>

<!-- Website cards for projects DESKTOP -->
<section class="hidden lg:block lg:flex w-full xl:w-10/12 mx-auto">
    <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
        <ProjectCardNew 
            image={productUploader}
            imgAlt='Product Uploader'
            tags="PHP, Javascript, MySQL, CSS, HTML5, Icons, Sessions, Local Storage"
            title='Product Uploader'
            url='#'
            codeURL='https://github.com/Zwill1/Product-Uploader'
            width="600"
            height="400"
            loading="lazy"
        />
    </div>
    <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
        <ProjectCardNew 
            image={aniStream}
            imgAlt='AniStream'
            tags="NextJS, TypeScript, NextAuth, HTML5, CSS, TailwindCSS, Framer Motion, CLSX, Eslint"
            title='AniStream'
            url='#'
            codeURL='https://github.com/Zwill1/AniStream' 
            width="600"
            height="400"
            loading="lazy"
        />
    </div>
    <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
        <ProjectCardNew 
            image={socialDashboard2}
            imgAlt='Admin Social Dashboard'
            tags="React, React Router Dom, React Context API, Axios, HTML5, CSS, TailwindCSS, Material Icons, Vitest"
            title='Social Dashboard V2.0'
            url='#'
            codeURL='https://github.com/Zwill1/admin-social-dashboard-v2' 
            width="600"
            height="400"
            loading="lazy"
        />
    </div>
    <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
        <ProjectCardNew 
            image={carDealership}
            imgAlt='Car Dealership'
            tags="React, React Router Dom, HTML5, TailwindCSS, CSS, SASS, Axios, React Icons, Vitest, Eslint"
            title='Car Dealership'
            url='#'
            codeURL='https://github.com/Zwill1/car-dealership' 
            width="600"
            height="400"
            loading="lazy"
        />
    </div>
</section>

<!-- Website cards for projects MOBILE -->
<section class="md:flex w-full lg:hidden">
    <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
        <ProjectCardNew 
            image={productUploader}
            imgAlt='Product Uploader'
            tags="PHP, Javascript, MySQL, CSS, HTML5, Icons, Sessions, Local Storage"
            title='Product Uploader'
            url='#'
            codeURL='https://github.com/Zwill1/Product-Uploader'
            width="600"
            height="400"
            loading="lazy"
        />
    </div>
    <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
        <ProjectCardNew 
            image={aniStream}
            imgAlt='AniStream'
            tags="NextJS, TypeScript, NextAuth, HTML5, CSS, TailwindCSS, Framer Motion, CLSX, Eslint"
            title='AniStream'
            url='#'
            codeURL='https://github.com/Zwill1/AniStream' 
            width="600"
            height="400"
            loading="lazy"
        />
    </div>
</section>
<section class="md:flex w-full lg:hidden mb-5">
    <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
        <ProjectCardNew 
            image={socialDashboard2}
            imgAlt='Admin Social Dashboard'
            tags="React, React Router Dom, React Context API, Axios, HTML5, CSS, TailwindCSS, Material Icons, Vitest"
            title='Social Dashboard V2.0'
            url='#'
            codeURL='https://github.com/Zwill1/admin-social-dashboard-v2' 
            width="600"
            height="400"
            loading="lazy"
        />
    </div>
    <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
        <ProjectCardNew 
            image={carDealership}
            imgAlt='Car Dealership'
            tags="React, React Router Dom, HTML5, TailwindCSS, CSS, SASS, Axios, React Icons, Vitest, Eslint"
            title='Car Dealership'
            url='#'
            codeURL='https://github.com/Zwill1/car-dealership' 
            width="600"
            height="400"
            loading="lazy"
        />
    </div>
</section>